<nav class="main-nav navbar navbar-default navbar-static-top">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown weather-container">
          <span class="weather-summary">
            <span class="city"></span>
            <span class="weather"></span>
            <span class="weather-min"></span>
            <span class="separator">-</span>
            <span class="weather-max"></span>
          </span>
          <ul class="weather-details dropdown-menu">
            <li>
              <div class="wind-box clearfix">
                <span class="wind pull-left"></span>
              </div>
              <div class="tmp-box clearfix">
                <img alt="" class="pull-left">
                <span class="pull-right"><span class="tmp"></span>&#8451</span>
              </div>
              <div class="now-box clearfix">
                <span class="now-week pull-left"></span>
                <span class="now-time pull-right"></span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <%= render 'shared/header/nav_right' %>
    </div><!--/.nav-collapse -->
  </div>
</nav>

