.contact-us-page {
  .banner-box {
    width: 100%;
    height: 450px;
    background: url("contact_us/banner.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (max-width: 768px) {
    .banner-box {
      height: 290px;
      .carousel {
      }
    }
  }
  @media (max-width: 414px) {
    .banner-box {
      height: 150px;
    }
  }
}
