<div class="more-info-box">
  <div class="more-info">
    <span class="more-info-content">公司简介</span>
    <span class="e-more-info">
    Company Profile
  </span>
  </div>
</div>
<div class="company-profile">
  <p class="moke-info">
    <%= @company.Introduction  %>
  </p>
  <div class="moke-info-title">
    我们的价值观
  </div>
  <p>
    正直、合作、专业、分享、服务
  </p>
  <div class="moke-info-title">
    我们的使命：
  </div>
  <p>
    墨客整合强大的投资后援、汇聚资深的互联网运营，以其为平台倡导艺术和生活的和谐融合，致力于开启一个宽容更具生机的艺术时代。
  </p>
</div>