<div class="more-info-box">
  <div class="more-info">
    <span class="more-info-content">公司简介</span>
    <span class="e-more-info">
    Company Profile
  </span>
  </div>
</div>
<div class="company-profile">
  <p class="moke-info">
    墨客（www.moke.cn），中国领先的书画互联网服务平台！是一个全新的书画艺术产业服务生态。墨客依托于西安强大的书画艺术资源背景，挖掘全国范围优秀艺术作品，将大量原创、高质量、经过严格筛选的艺术品通过线上平台带给广大用户。我们以“墨客轩”为线下品牌体验空间，形成一整套专业的艺术消费服务体系。
  </p>
  <div class="moke-info-title">
    我们的价值观：
  </div>
  <p>
    正直、合作、专业、分享、服务
  </p>
  <div class="moke-info-title">
    我们的使命：
  </div>
  <p>
    墨客整合强大的投资后援、汇聚资深的互联网运营，以其为平台倡导艺术和生活的和谐融合，致力于开启一个宽容更具生机的艺术时代。
  </p>
</div>