<%= render 'banner' %>

<div class="content-box">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 left-bar">
        <ul>
          <li class="visible-lg visible-md">新闻中心</li>
          <li  class="col-md-12 col-sm-6 col-xs-6">
            <%= active_link_to enterprise_dynamics_path,active: :exact  do %>
              <span>公司新闻</span>
              <span class="bkg"></span>
            <% end %>
          </li>
          <li  class="col-md-12 col-sm-6 col-xs-6">
            <%= active_link_to enterprise_dynamics_path(state: 'industry'),active: :exact  do %>
              <span>行业新闻</span>
              <span class="bkg"></span>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-9 col-sm-12 right-content">
        <%= render 'content' %>
      </div>
    </div>
  </div>
</div>

