<div class="about-box">
  <div class="container">
    <div class="row title">
      <h3>公司简介</h3>
      <p class="animated fadeInDown">—— About ——</p>
      <p class="animated fadeInDown"><%= @company.introduction %></p>
      <%= link_to '关于我们', about_us_path %>
    </div>
  </div>
</div>

