<div class="content-box">
  <div class="container">
    <div class="row title">
      <h3>业务范围</h3>
      <p class="animated fadeInDown">—— Service ——</p>
      <p class="animated fadeInDown"><%= @company.culture %></p>
    </div>
    <ul class="row service-box  animated bounceInUp">
      <li class="col-md-4 col-sm-12">
        <div>
          <img src=" <%= asset_path('') %> " alt="">
          <h4>国际物流代理</h4>
          <p>李撒啦啦时间；撒村；面聊骚超骚花丛撒拉出来呢撒咯阿拉山口打了三出来呢看来是浓厚</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-12">
        <div>
          <img src=" <%= asset_path('') %> " alt="">
          <h4>国际物流代理</h4>
          <p>李撒啦啦时间；撒村；面聊骚超骚花丛撒拉出来呢撒咯阿拉山口打了三出来呢看来是浓厚</p>
        </div>
      </li>
      <li class="col-md-4 col-sm-12">
        <div>
          <img src=" <%= asset_path('') %> " alt="">
          <h4>国际物流代理</h4>
          <p>李撒啦啦时间；撒村；面聊骚超骚花丛撒拉出来呢撒咯阿拉山口打了三出来呢看来是浓厚</p>
        </div>
      </li>
    </ul>
  </div>
</div>

