<div class="content-box">
  <div class="container">
    <div class="row title">
      <h3>业务范围</h3>
      <p class="animated fadeInDown">—— Service ——</p>
      <p class="animated fadeInDown"><%= @company.culture %></p>
    </div>
    <ul class="row service-box  animated bounceInUp">
      <li class="col-md-4 col-sm-12">
          <div class="dz"></div>
          <h4>
            <span>
               品质纸杯、广告杯定制
            </span>
           </h4>
          <p>制作纸杯 西安家永福,专属高端制作纸杯 十年诚信经营,团队,国内一流.制作纸杯 西安家永福.</p>
      </li>
      <li class="col-md-4 col-sm-12">
          <div class="db"></div>
          <h4>
            <span>外卖打包盒、塑料餐盒</span>
          </h4>
          <p>西安家永福提供外卖打包盒 塑料快餐盒,打包塑料碗 外卖盒,珍珠奶茶杯,塑料餐盒,等塑料产品.价格实惠,规格齐全!</p>
      </li>
      <li class="col-md-4 col-sm-12">
          <div></div>
          <h4>
            <span> 国际物流代理</span>
          </h4>
          <p>李撒啦啦时间；撒村；面聊骚超骚花丛撒拉出来呢撒咯阿拉山口打了三出来呢看来是浓厚</p>
      </li>
    </ul>
  </div>
</div>

