.background-img-tag {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.animated {
  -ms-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -o-animation-duration: 3s;

}

html,
body.index {
  width: 100%;
}

.body-content {
  padding: 50px 0 0 0;
}