.background-img-tag {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.animated {
  -ms-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -o-animation-duration: 3s;

}

html,
body.index {
  width: 100%;
}

.body-content {
  margin-top: 111px;
}

.left-bar {
  padding-right: 0;
  padding-left: 0;
  ul {
    padding: 0;
    position: absolute;
    top: -55px;
    width: 100%;
    outline: .5px solid $gray-lights;

    li {
      position: relative;
      display: block;
      height: 55px;
      line-height: 55px;
      background: $gray-light;
      border-bottom: .5px solid $gray-lights;
      overflow: hidden;

      &:first-child {
        padding-left: 10px;
        background: $black-lighter;
        color: $white;
        font-size: 28px;
        opacity: .8;
      }

      &:last-child {
        border-bottom: 0;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 15px;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;
        color: $gray-lighter;
      }

      .bkg {
        top: 100%;
        z-index: 1;
        background: $borw-light;
        webkit-transition: top 200ms;
        transition: top 200ms;
      }

      &:hover {
        span {
          color: $white;
        }

        .bkg {
          top: 1px;
        }
      }

      .active {
        span {
          color: $white;
        }

        .bkg {
          top: 1px;
        }
      }

    }
  }

}

.right-content {
  padding: 55px;
  border-left: .5px solid $gray-lights;
}

@media (max-width: 768px) {
  .body-content {
    margin-top: 70px;
  }

  .left-bar {
    ul {
      top: 0;
      li {
        text-align: center;
        &:not(:first-child) {
            border-left: .5px solid $gray-lights;
        }

        span {
          padding-left: 0;
        }
      }



    }
  }
}

